﻿
@model project.ViewModel.BMIData 

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/BMI/Index" method="post">
    @* /BMI/Index = Index *@
    <p>BMI = 體重(kg)/身高(m)/身高(m)</p>
    @*身高：<input type="text" name="h" value="" />m <br />
        體重：<input type="text" name="w" value="" />kg <br />*@

    身高：@Html.TextBoxFor(d => d.Height) m <br />
    體重：@Html.TextBoxFor(d => d.Weight) kg <br />

    <input type="submit" name="name" value="送出" /> <br />
</form>

計算結果：@Model.BMI <br />
等級： @Model.Level